.root {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    border-radius: 2px;

    padding: 64px 32px 56px;
    width: 539px;

    z-index: 10;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: white;
}

.root :global(.ant-result) {
    padding: 0;
    width: 475px;
    /* font-family: var(--font-family); */
    /* color: var(--character-light-title-85); */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.root :global(.ant-result-title) {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 130%;
    font-family: Inter;
    white-space: pre-wrap;
    text-align: center;
}

.root :global(.ant-result-content) {
    background-color: #fff;
}

.character {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

.characterSelected {
    outline: 2px solid #d9d9d9;
}

.characterError {
    border-color: red;
}

.characterInactive {
    background-color: #fff;
}
