.root {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    border-radius: 2px;

    padding: 64px 32px 56px;
    width: 539px;

    z-index: 10;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: white;
}

.root :global(.ant-result) {
    padding: 0;
    width: 475px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.root :global(.ant-result-title) {
    padding-inline: 48px;
}

.root :global(.ant-result-title .ant-typography) {
    margin-bottom: 0;
}

.root :global(.ant-result-subtitle .ant-typography) {
    line-height: 16px;
    font-weight: 400;
    font-size: 14px;
    color: #8c8c8c;
}

.root :global(.ant-typography) {
    font-weight: 500;
    font-size: 24px;
    line-height: 31.2px;
    font-family: Inter;
    white-space: pre-wrap;
    text-align: center;
}

.root :global(.ant-result-content) {
    margin-top: 0;
    background-color: #fff;
}

.root :global(.ant-result-subtitle) {
    line-height: 16px;
}
.container {
    margin-bottom: 10px;
}

.root :global(.ant-result-content .ant-typography) {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 18.2px;
    color: #8c8c8c;
}

.container {
    gap: 12px;
}

.character {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    width: 40px;
    height: 40px;
}

.characterSelected {
    outline: 2px solid #d9d9d9;
}

.characterError {
    border-color: red;
    width: 40px;
    height: 40px;
}

.characterInactive {
    background-color: #fff;
}

@media screen and (max-width: 600px) {
    .root {
        width: 328px;
        padding: 32px;
    }

    .root :global(.ant-result-content) {
        padding-inline: 0;
    }

    .root :global(.ant-typography) {
        font-size: 24px;
        line-height: 31.2px;
        margin-bottom: 2px;
        text-align: center;
    }

    .root :global(.ant-result-content) {
        padding: 0;
        margin-top: 0;
        text-align: center;
    }

    .character,
    .characterError {
        height: 40px;
        width: 40px;
    }
}
