.root {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    border-radius: 2px;

    padding: 64px 32px 56px;
    width: 539px;

    z-index: 10;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: white;
}

.root :global(.ant-result) {
    padding: 0;
    width: 475px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.root :global(.ant-typography) {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 130%;
    font-family: Inter;
    white-space: pre-wrap;
    text-align: center;
}

.root :global(.ant-result-content) {
    background-color: #fff;
}

.character {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

.characterSelected {
    outline: 2px solid #d9d9d9;
}

.characterError {
    border-color: red;
}

.characterInactive {
    background-color: #fff;
}

@media screen and (max-width: 600px) {
    .root {
        width: 328px;
        padding: 32px;
    }

    .root :global(.ant-result-content) {
        padding-inline: 0;
    }

    .root :global(.ant-typography) {
        font-size: 24px;
        line-height: 31.2px;
        margin-bottom: 2px;
        text-align: center;
    }

    .root :global(.ant-result-subtitle) {
        line-height: 18.2px;
    }

    .root :global(.ant-result-content) {
        padding: 0;
        margin-top: 0;
        text-align: center;
    }

    .root :global(.ant-result-content .ant-typography) {
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        line-height: 18.2px;
        color: #8c8c8c;
    }

    .character,
    .characterError {
        height: 40px;
        width: 40px;
    }
}
