.form {
    z-index: 100;
    width: 540px;
    padding: 64px 85.5px;
    background-color: #fff;
    padding-inline: 86px;
}

.tabs {
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 20.8px;
}

.logo {
    text-align: center;
    padding-bottom: 42px;
}

.logo img {
    width: 310px;
}
