.site-layout {
    height: 100%;
    background-color: transparent;
}

.site-layout .site-layout-background,
.ant-layout-sider {
    background-color: #fff;
}

.ant-layout.site-layout {
    min-height: 100vh;
    background-image: url('../../assets/images/Main_page_light.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
}
