.confirm {
    border-radius: 2px;
    border-radius: 2px;
    padding: 64px 32px 56px;
    width: 539px;
    height: 428px;
    z-index: 10;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
}

.confirm :global(.ant-result) {
    padding: 0;
    width: 475px;
    font-family: var(--font-family);
    color: var(--character-light-title-85);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.confirm :global(.ant-result-title) {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 130%;
    font-family: var(--font-family);
    white-space: pre-wrap;
    text-align: center;
}
