.root {
    position: relative;
    display: grid;
    place-items: center;
    height: 100vh;
}

.root:before {
    position: absolute;
    content: '';
    inset: 0;
    background: url('../../assets/images/Enter_page_light.png') no-repeat center top;
    background-size: cover;
    filter: blur(4px);
}

.card {
    width: 539px;
    height: 363px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card:global.ant-card-head {
    width: 500px;
}
