@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

html {
    scroll-behavior: smooth;
    font-family: Inter, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* max-width: 1440px; */
    margin: 0 auto;
}

.ant-tabs-nav {
    width: 100% !important;
}

.ant-tabs-tab {
    display: block; /* centers text inside tabs */
    flex: 1;
    text-align: center;
    justify-content: center;
}

.ant-tabs-nav > div:nth-of-type(1) {
    display: unset !important;
    width: 100% !important;
    margin-bottom: 12px;
}

.ant-form-item-explain.ant-form-item-explain-connected {
    font-size: 12px;
}

.ant-card-head {
    border-bottom: none;
}

.ant-card-head-title {
    padding: 0;
}
