@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter';
}

:root {
    --header-height: 80px;
}

:global(a:hover) {
    text-decoration: none;
}

/* * {
    outline: 1px solid red;
} */
